body{
    background-color:bisque;
}
.container{
    display: flex;
    background-color:deepskyblue;
    height: 10vh;
    justify-content: center;
    padding: 20px;
}
.h2{
    font-size: 100;
    font-style: Arial bold;
}
